* #title-container {
    width: 500px;
  }
  #navigation-container {
    width: 200px; 
  }
   */
  .img {
    float: left;
    width: 200px;
    height: 200px;
    padding-top: 100px;
    padding-left: 100px;
  }
  
  .name_title {
    font-family: "Helvetica Neue";
    position: relative;
    top: 170px;
    left: 100px;
    max-width: 500px;
  }
  
  .navigation_menu {
    clear: left;
    font-family: "Helvetica Neue";
    font-size: large;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    width: 200px;
  }
  
  .navigation_menu td { 
          padding: 5px;
  }
  
  .navigation_menu tr:hover {
    background: gainsboro;
  }
  
  .navigation_menu a {
    color: black;
    text-decoration: none;
  }
  
  .content {
    font-family: "Helvetica Neue";
    position: relative;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    max-width: 500px;
    min-width: 25em;
      max-width: 33em;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}


/* Links inside the dropdown */
.dropdown-content a {
  align-content: right;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}